# Modeling


## Importing Libraries

In [19]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

from sklearn.metrics import accuracy_score

## Reading from Files

In [20]:
df = pd.read_csv('../data/train_data.csv') 
df

,Unnamed: 0,applicant_income,coapplicant_income,loan_amount,loan_amount_term,credit_history,loan_status,gender_Female,gender_Male,married_No,...,dependents_2,dependents_3+,education_Graduate,education_Not Graduate,self_employed_No,self_employed_Yes,property_area_Rural,property_area_Semiurban,property_area_Urban,total_income
0,0,2.243931,2.118566,1.768118,1.929908,1.0,N,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6091.0
1,1,2.197969,0.000000,1.649561,1.929908,1.0,Y,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,3000.0
2,2,2.181219,2.170880,1.757132,1.929908,1.0,Y,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,4941.0
3,3,2.272093,0.000000,1.784370,1.929908,1.0,Y,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,6000.0
4,4,2.261501,2.234534,1.885703,1.929908,1.0,Y,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,9613.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,563,2.194199,0.000000,1.663294,1.929908,1.0,Y,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,2900.0
564,564,2.232211,0.000000,1.550446,1.824307,1.0,Y,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,4106.0
565,565,2.302213,1.869461,1.877529,1.929908,1.0,Y,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,8312.0
566,566,2.295943,0.000000,1.830410,1.929908,1.0,Y,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,7583.0
567,567,2.243931,0.000000,1.774586,1.929908,0.0,N,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,4583.0

In [21]:
y= df['loan_status']
X = df.drop('loan_status', axis = 1)

## Split Data between training and test

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y , 
                                   random_state=104,  
                                   test_size=0.25,  
                                   shuffle=True)

## Logistic Regression

### Logistic Regression Training

In [28]:
lr = LogisticRegression()
logistic = lr.fit(X_train, y_train)
ypred_lr =lr.predict(X_test)

c:\Users\iyesme\Desktop\Learning Python\venv\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Logistic Regression Accuracy Score

In [29]:
print('Logistic Regression Accuracy Score:')
print(accuracy_score(ypred_lr,y_test))

Logistic Regression Accuracy Score:
0.8169014084507042

## Random Forest Classifier

### Random Forest Training

In [30]:
forest = RandomForestClassifier()
forest.fit(X_train, y_train)
ypred_forest = forest.predict(X_test)

### Random Forest Accuracy Score

In [31]:
print('Random Forest Accuracy Score:')
print(accuracy_score(ypred_forest,y_test))

Random Forest Accuracy Score:
0.7676056338028169

## Boosting

In [32]:
ada = AdaBoostClassifier()
ada.fit(X_train, y_train)
ypred_forest = ada.predict(X_test)

print('Random Forest Accuracy Score:')
print(accuracy_score(ypred_forest,y_test))

Random Forest Accuracy Score:
0.7887323943661971

c:\Users\iyesme\Desktop\Learning Python\venv\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

### Dumping model1 into model_1

In [34]:
import joblib
joblib.dump(logistic , '../artifacts/model_1.pkl')

['../artifacts/model_1.pkl']